<form [formGroup]="editForm" (ngSubmit)="updatePerson()">
    <div class="form-group">
      <label for="nome">Nome:</label>
      <input type="text" id="nome" formControlName="nome" class="form-control">
    </div>
  
    <div class="form-group">
      <label for="quantidadeInscritos">Quantidade de Inscritos:</label>
      <input type="number" id="quantidadeInscritos" formControlName="quantidadeInscritos" class="form-control">
    </div>
  
    <div class="form-group">
      <label for="canal">Canal:</label>
      <input type="text" id="canal" formControlName="canal" class="form-control">
    </div>
  
    <div class="form-group">
      <label for="plataforma">Plataforma:</label>
      <input type="text" id="plataforma" formControlName="plataforma" class="form-control">
    </div>
  
    <div class="form-group">
      <label for="categoriaConteudo">Categoria do Conteúdo:</label>
      <select id="categoriaConteudo" formControlName="categoriaConteudo" class="form-control">
        <option value="" disabled selected>Selecione uma categoria</option>
        <option value="Vlog">Vlog</option>
        <option value="Review">Review</option>
      </select>
    </div>
  
    <button type="submit" class="btn-submit">Atualizar</button>
  </form>
  