<div class="login-container">
  <h2>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="fazerLogin()">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" formControlName="email" required>
    </div>

    <div class="form-group">
      <label for="senha">Senha:</label>
      <input type="password" id="senha" formControlName="senha" required>
    </div>

    <button type="submit">Entrar</button>
  </form>
  <div class="login-info">
    <h3>Acessos</h3>
  
    <table>
      <tr>
        <th colspan="2">Com acesso avançado ao site</th>
      </tr>
      <tr>
        <td>Email:</td>
        <td>ellen.samanta@outlook.com</td>
      </tr>
      <tr>
        <td>Senha:</td>
        <td>123</td>
      </tr>
  
      <tr>
        <th colspan="2">Sem acesso avançado ao site</th>
      </tr>
      <tr>
        <td>Email:</td>
        <td>carlos.silva@hotmail.com</td>
      </tr>
      <tr>
        <td>Senha:</td>
        <td>321</td>
      </tr>
    </table>
  </div>
  
</div>
